

  .ask{
    display:flex;
    width: 70%;
    margin: auto;
    flex-direction:column;
    width:55vw;
  }
  .heading{
    font-size:22px;
    padding: 20px 0;
  }
  .stepsToAskQuestion{
    padding: 20px;
    background-color:#EBF4FB;
  }
  .question_form_paper{
    width: 100%;
  }


  .form{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
  }
  .fileInput{
    width:97%;
    margin:10px 0;
  }
  .buttonSubmit{
    margin-bottom: 10,
  }
